* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  align-self: center;
}

.uika {
  display: flex;
  border: 1px solid 0;
  width: 50px;
  left: 48%;
  right: 48%;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  justify-content: center;
  transform: translateY(2vh);
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
}
.uika img {
  height: 50px;
}

.video-container {
  height: 100vh;
  background-size: cover;
  position: relative;
}
.video-container h2 {
  position: relative;
  z-index: 1;
  align-items: center;
  transform: translateY(100%);
}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
}
.video-container .caption {
  z-index: 1;
  width: auto;
  height: auto;
  position: relative;
  text-align: center;
  top: 55%;
  bottom: 55%;
  align-items: center;
  color: #f2f2f2;
  opacity: 0.7;
  font-family: "Istok Web", sans-serif;
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video-container::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

/*  arrow */
.container {
  width: auto;
  height: 94.4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner_con {
  display: flex;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.button {
  z-index: 1;
  position: absolute;
  width: auto;
  height: auto;
  margin-bottom: 15px;
  bottom: 25vh;
  text-align: center;
  transform: scale(20vh);
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
}
.button a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #1c3b29;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
}
.field h1 {
  top: -50vh;
  position: relative;
  z-index: 1;
  transform: translateY(98.2vh);
  animation: slidein 5s infinite;
  -webkit-animation: slidein 5s infinite;
  font-family: "Kanit", sans-serif;
  font-weight: medium;
  font-size: 20px;
  color: #f2f2f2;
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    text-shadow: #f2f2f2 0 0 5px;
  }
  100% {
    opacity: 0;
  }
}
.container-parrallax {
  height: 100vh;
  width: 100%;
  background-image: url("https://i.ibb.co/hFGb20m/maxresdefault.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-size: cover;
  background-position: center;
}
.container-parrallax .list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-parrallax .list-container ul {
  display: flex;
  position: absolute;
  z-index: 4;
  list-style: none;
}
.container-parrallax .list-container ul li {
  font-family: "Kanit", sans-serif;
  font-size: large;
  font-weight: bolder;
  padding: 5rem;
  color: #f2f2f2;
}
.container-parrallax .list-container ul a {
  text-decoration: none;
  color: #e4e4e4;
}

.container-parrallax::before {
  content: "";
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container-parrallax1 {
  height: 100vh;
  width: 100%;
  background-image: url("https://i.ibb.co/Dfg31bq/Universitas-Ibn-Khaldun-UIKA-Bogor.jpg");
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-size: cover;
  transform: translate(200vh, -100vh);
}
.container-parrallax1 .list-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-parrallax1 .list-container1 ul {
  display: flex;
  position: absolute;
  z-index: 4;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.container-parrallax1 .list-container1 ul li {
  margin-right: 60px;
  border-radius: 15px;
  width: 40vh;
  font-family: "Kanit", sans-serif;
  background-color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bolder;
  padding: 25.2px;
  color: #202020;
  overflow: auto;
}

.visi {
  height: 56.5vh;
}

.misi {
  height: 56.5vh;
}

.tujuan {
  height: 56.5vh;
}

.back {
  z-index: 20;
  position: absolute;
  right: 15%;
  top: 18%;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  font-family: zeniq;
  color: #000000;
}

.container-parrallax1::before {
  content: "";
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container-parrallax2 {
  height: 100vh;
  width: 100%;
  background-image: url("https://i.ibb.co/jyNCLqb/3783335385.png");
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-size: cover;
  transform: translate(0vh, -100vh);
}
.container-parrallax2 .list-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-parrallax2 .list-container2 h1 {
  display: flex;
  position: absolute;
  z-index: 5;
  justify-content: center;
  align-items: center;
  top: 18%;
  background-color: #1c3b29;
  color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
}
.container-parrallax2 .list-container2 ul {
  display: flex;
  position: absolute;
  z-index: 4;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.container-parrallax2 .list-container2 ul li {
  border-radius: 5px;
  width: 35vh;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px 0px;
  font-family: "Kanit", sans-serif;
  font-size: large;
  font-weight: bolder;
  padding: 20px;
  color: #202020;
  overflow: auto;
}

.diploma {
  height: 50vh;
}

.sarjana {
  height: 50vh;
}

.pascasarjana {
  height: 50vh;
}

.doktor {
  height: 50vh;
}

.back2 {
  z-index: 20;
  position: absolute;
  right: 11%;
  top: 20%;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  font-family: zeniq;
  color: #000000;
}

.container-parrallax2::before {
  content: "";
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container-parrallax3 {
  height: 100vh;
  width: 100%;
  background-image: url("https://i.ibb.co/k4GqxpJ/update-prof-may-2.png");
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-size: cover;
  transform: translate(0vh, -100vh);
}
.container-parrallax3 .list-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-parrallax3 .list-container3 ul {
  display: flex;
  position: absolute;
  z-index: 4;
  list-style: none;
}
.container-parrallax3 .list-container3 ul li {
  font-family: "Kanit", sans-serif;
  font-size: large;
  font-weight: bolder;
  padding: 5rem;
  color: #f2f2f2;
}

.back3 {
  z-index: 20;
  position: absolute;
  right: 11%;
  top: 20%;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  font-family: zeniq;
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-parrallax3::before {
  content: "";
  width: 100%;
  bottom: 0;
  height: 8.5vh;
  display: block;
  position: absolute;
  background: rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#left::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  height: 50px;
  width: 2px;
  right: 65%;
  transform: translateY(-30%);
}

#right::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  height: 50px;
  width: 2px;
  right: 35%;
  transform: translateY(-30%);
}

@media screen and (max-width: 1500px) and (min-width: 800px) {
  .container-parrallax1 .list-container1 {
    display: flex;
  }
  .container-parrallax1 .list-container1 ul {
    flex-direction: column;
  }
  .container-parrallax1 .list-container1 ul li {
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100vh;
    padding: 15px;
    font-size: medium;
    font-weight: bolder;
  }
  .visi {
    height: 25.5vh;
  }
  .misi {
    height: 25.5vh;
  }
  .tujuan {
    height: 25.5vh;
  }
  .back {
    right: 12%;
    top: 10%;
  }
  .container-parrallax2 .list-container2 {
    display: flex;
  }
  .container-parrallax2 .list-container2 ul {
    flex-direction: column;
  }
  .container-parrallax2 .list-container2 ul li {
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100vh;
    padding: 15px;
    font-size: medium;
    font-weight: bolder;
  }
  .diploma {
    height: 12vh;
  }
  .sarjana {
    height: 12vh;
  }
  .pascasarjana {
    height: 12vh;
  }
  .doktor {
    height: 12vh;
  }
}
@media screen and (max-height: 800px) {
  .button {
    margin-bottom: 5px;
    height: 0;
  }
  .field {
    display: none;
  }
  .container-parrallax1 .list-container1 ul {
    margin-top: 50px;
    height: 70vh;
  }
  .container-parrallax1 .list-container1 ul li {
    width: 100vh;
  }
  .back {
    right: 21%;
    top: 20%;
  }
  .container-parrallax2 .list-container2 h1 {
    font-weight: bold;
    font-size: 16px;
  }
  .container-parrallax2 .list-container2 ul {
    margin-top: 50px;
  }
  .container-parrallax2 .list-container2 ul li {
    width: 100vh;
  }
}/*# sourceMappingURL=style.css.map */